/* Seção de Formação Acadêmica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.formacao {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

header {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.formacao ul {
    list-style: none;
    padding: 0;
}

.formacao li {
    margin-bottom: 20px;
}

.formacao h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #4a90e2;
}

.formacao p {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #666;
}

.formacao .link {
    text-decoration: none;
    color: #4a90e2;
    font-weight: bold;
    transition: color 0.3s;
}

.formacao .link:hover {
    color: #357ab8;
}

footer {
    text-align: center;
    padding: 10px;
    background: #4a90e2;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}